<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/login.css">
</head>
<body>
    <div class="loginForm">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="email">Correo:</label>
            <input type="text" id="email" name="email" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit" class="btnLogin">Login</button>
            <a href="register">Registrate</a>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title:"<%= alertTitle %>",
                text:"<%= alertMessage %>",
                icon:"<%= alertIcon %>",
                showConfirmationButon: <%= showConfirmButton %>,
                timer: <%= timer %>,
            }).then(() =>{
                window.location = "/<%= ruta %>";
            })
        </script>
      <% } %>
    
</body>
</html>